[submodule "client-gateway"]
	path = client-gateway
	url = https://github.com/App-NestJs-Microservices/client-gateway.git
[submodule "products-ms"]
	path = products-ms
	url = https://github.com/App-NestJs-Microservices/Product-MicroService.git
